*{margin:0;padding:0;}
.login{
  background: #324157 url(./assets/img/login_bg.jpg);
  background-size: 100% 100%;
}
.sys{
  background-color: white;
}
.login, .sys{
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.router-view{
  position: absolute;
  top: 70px;
  left: 250px;
  right: 0;
  bottom: 0;
  padding: 60px;
  overflow-y: scroll;
  background-color: white;
}
